.accordian {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 200ms;
}

.accordian.expanded {
    grid-template-rows: 1fr;
}

.accordian > div {
    min-height: 0;
    background: #000;
    color: white;
}