#character-menu {
    background: #000;
    /* --color1: #414141;
    --color2: #292929;
    --line: #0c0c0c;

    background-color: var(--line);
  background-image: conic-gradient(
      from 330deg at 50% 60%,
      var(--color1) 60deg,
      transparent 60deg
    ),
    conic-gradient(from 150deg at 50% 30%, var(--color2) 60deg, transparent 60deg);
  background-size: 3rem 3rem;
  background-position: 0 0, 1.5rem -0.5rem; */
}

.stickfigure-icon {
    width: 10em;
    height: 10em;
    position: absolute;
    left: 50%;
    top: 21%;
    transform: translateX(-50%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255, 255, 255, .8) 45%, rgba(0,0,0,0) 60%);
    border-radius: 50%;
}

.stickfigure-icon > object {
    width: 100%;
    height: 100%;
}

#mana-box {
    position: absolute;
    width: 25%;
    left: 12%;
    margin-right: 5em;
}

#mana-box > .box-header {
    color: rgb(100, 100, 235)
}

#health-box {
    position: absolute;
    right: 12%;
    width: 25%;
}

#health-box > .box-header {
    color: rgb(235, 100, 100)
}

#save-box {
    position: absolute;
    width: 20%;
    left: 22%;
}

#player-box {
    width: 15%;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
}

#skill-box {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 43%;
    height: 50%;
}

#skill-drop {
    border: 1px solid gray;
    padding-top: .4em;
    padding-left: .2em;
    height: 4.2em;
    position: relative;
    background: #000;
}

#skill-drop > .skill {
    filter: invert();
}

#skill-select {
    border: 1px solid gray;
    margin-top: 5px;
    padding-left: 3px;
    padding-top: 3px;
    background: #000;

    /* width: calc(80% - 5px);
    margin-right: 5px; */
    
    /* display: grid; */
}

:is(#skill-select, #skill-drop) .skill { 
    float: left;
    border: 2px solid white;
}
:is(#skill-select, #skill-drop) .skill > * { filter: none; }

/* make element draggable */
:is(#skill-select, #skill-drop) .skill:before {
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: transparent;
    background: none;
    z-index: 1;
}

.skill#plus {
    filter: brightness(.5);
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3px;
    pointer-events: none;
}

.card {
    display: inline-block;
    width: 3em;
    height: 4em;
    position: relative;
    background: rgb(25, 25, 25);
    margin-left: 3px;

    transform: all;
}

.card.insert-here {
    margin-left: .75em;
}

.card.insert-here::after {
    display: inline-block;
    content: '';
    position: absolute;
    background: green;
    width: .5em;
    height: 100%;
    left: -5px;
    transform: translateX(-50%);
    border-radius: .25em;
}

.card > .skill {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.card > .hotkey-input {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}