#canvas {
    width: 100%; 
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
}

#stats {
    z-index: 1;
    position: absolute;
    border:solid 2px black;
    border-radius: .25em;
    top: .2em;
    left: .2em;
    background: rgb(0, 0, 0, .2);
    padding: 2px 3px;
    user-select: none;
    padding-bottom: 0;
}

.bar {
    width: 10em;
    height: .8em;
    position: relative;
    min-height: 10px;
    display: inline-block;
    background-clip: border-box;
    border: solid 2px rgba(0, 0, 0, .42);
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 1.2em;
    background: rgb(61, 61, 61);
}

.bar::before {
    display: block;
    content: '';
    width: min(100%, calc(100% * (var(--current) / var(--max))));
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color);
    transition: width .2s ease-out;
}

.bar::after {
    transform: translateY(-2px);
    counter-reset: current var(--current) max var(--max);
    content: counter(current) '/' counter(max);
    display: block;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#skill-container {
    display: flex;
    bottom: 1.5em;
    left: 0;
    width: 100%;
    z-index: 1;
    position: absolute;
    justify-content: center;
}

.skill:not(:last-child) {
    margin-right: 3px;
}

/* display the skill in bottom bar */
.skill {
    width: 2.5em;
    height: 2.5em;
    border: 2px solid black;
    border-radius: .25em;
    position: relative;
    float: left;
}

.skill:before {
    content: '';
    display: inline-block;
    position: absolute;
    transition: height calc(1s * var(--cd)) linear;
    width: 100%;
    background: rgb(0, 0, 0, .32);
    height: 0;
    bottom: 0;
}

.skill.cooldown:before {
    animation: cooldown calc(1s * var(--cd)) linear 1;
}

.skill > * {
    width: 100%;
    height: 100%;
    user-select: none
}

@keyframes cooldown {
    0% {
        height: 100%;
    }

    100% {
        height: 0;
    }
}

.modal {
    --size: 80;

    position: absolute;
    left: calc(1% * (100 - var(--size)) / 2);
    top: calc(1% * (100 - var(--size)) / 2);
    width: 80%;
    height: calc(1% * var(--size) - .5em);
    z-index: 2;
    padding: 0;
    margin: 0;
    padding-top: .5em;

    background: rgb(21, 21, 24);
    border-radius: 1em;
    color: white;
}

.box {
    width: calc(100% - 20px);
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    min-height: calc(1em + 10px)
}

.box-header {
    width: calc(100% - 10px);
    border-bottom: 1px solid gray;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.left-align {
    float: left; 
    height: 1em;
}

.right-align {
    float: right; 
    height: 1em;
}

.title {
    font-size: 2em;    
    position: relative;
}

.title > .text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.title > #close {
    position: absolute;
    right: .25em;
    transform: translateY(-15%);
}

button {
    background: rgb(51, 51, 51);
    outline: none;
    border: 1px solid gray;
    color: white;
    border-radius: .25em;
}