/* bar */

/* container element if supporting elements are to be used */
.bar-container {
    position: relative; 
    height: .8em; 
    margin-bottom: .5em;
}

.bar {
    --default-background: rgb(61, 61, 61);
    --default-prefix: '';
    width: 10em;
    height: .8em;
    position: relative;
    min-height: 10px;
    display: inline-block;
    background-clip: border-box;
    border: solid 2px rgba(28, 28, 28);
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 1.2em;
    background: var(--background, var(--default-background));

    isolation: isolate;
}

.bar::before {
    display: block;
    content: '';
    width: min(100%, calc(100% * (var(--current) / var(--max))));
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color);
    transition: width .2s ease-out;
}

.bar.reverse::before {
    left: unset;
    right: 0;
}

.bar.no-total::after {
    content: var(--prefix, var(--default-prefix)) counter(current);
}

.bar::after {
    transform: translateY(-5px);
    counter-reset: current calc(var(--current)) max var(--max);
    content: var(--prefix, var(--default-prefix)) counter(current) '/' counter(max);
    display: block;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: .94em;
}    


.bar:hover > .regen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bar:hover > .regen::before {
    content: '';
    position: absolute;
    top: 0;
    left: min(100%, calc(100% * (var(--current) / var(--max))));
    
    --diff: calc(var(--max) - var(--current));
    width: calc(100% * (var(--regen) / var(--max)));
    height: 100%;
    transition: left .2s ease-out;
    background: var(--regen-color);
}

.tooltip.regen-text::after {
    content: 'Regen: ' counter(regen) '/s';
    counter-reset: regen var(--regen);
}

.bar:hover > .tooltip.mpl::after {
    content: 'MPL: ' counter(mpl);
    counter-reset: mpl var(--mpl, 1);
}

#level-container {
    font-size: .8em;
    display: inline-block;
    min-width: 65%;
    transform: translateY(-6px);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-left: 3px;
    padding-top: 0;
    padding-bottom: 0;
    background: rgb(30, 30, 30);
    color: white;
    font: monospace;
    
}

#level-container::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    transform: translate(100%, -1px);

    /* reduce missing center pixel due to pixel color blending */
    background: linear-gradient(90deg, black 50%, transparent 100%);
    background-clip: content-box;

    --size: calc(.5em + 2px);
    border-left: var(--size) solid black;
    border-top: var(--size) solid black;
    border-bottom: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
}

.interactive-ui {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.interactive-ui > .text {
    border: 3px solid black;
    border-radius: 3px;
    padding: 2px 3px;
    background: lightgray;
}

.interactive-ui > .buttons > button {
    display: block;
    position: relative;
    outline: none;
    margin-top: 3px;
    margin-left: 1.8em;
    border: 3px solid black;
    border-radius: 3px;
    background: lightgray;
    color: black;

    transition: background-color .25s linear,
                color .05s linear
}

.interactive-ui > .buttons > button:hover {
    background: gray;
    color: white;
    box-shadow: 0px 0px 3px 3px white;
}

.interactive-ui > .buttons > button:hover::before {
    scale: 1.2;
    transform: translate(-165%, 0)
}

.interactive-ui > .buttons > button::before {
    position: absolute;
    transform: translate(-200%, 0);
    content: '';
    width: 1em;
    height: 1em;
    background: white;
    border-radius: .5em;
    border: 2px solid black;
    box-sizing: border-box;
}

.interactive-scroll {
    margin-bottom: 8px;
}

.interactive-scroll button {
    outline: 0;
}

.interactive-scroll > span {
    display: inline-block;
    transform: translateY(25%);
    margin-left: .2em;
    margin-right:.2em;
    border: 3px solid black;
    background: lightgray;
    padding-left: .2em;
    padding-right:.2em;
    border-radius: .25em;
    min-width: 8rem;
    text-align: center;
}

/* left arrow btn */
button.interactive-left {
    --width: 3px;
    width: 0; 
    height: 0; 
    background: transparent;
    border: none;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent; 
    
    border-right: 1em solid black;
    position: relative;
}

/* outline left btn */
button.interactive-left::before {
    content: "";
    position: absolute;

    padding: 0px 6px;

    top: 20%;
    right: calc(20% - var(--width)/2);
    transform: translate(60%, -43%);
    
    border-top: calc(.5em - var(--width)) solid transparent;
    border-bottom: calc(.5em - var(--width)) solid transparent; 
    
    border-right: calc(1em - var(--width)) solid white;
    background: transparent;
    border-radius: inherit;
}

button.interactive-left::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 1em;
    top: 50%; 
    right: -100%;
    transform: translate(50%, -50%);
    background: black;
}

/* right arrow */
button.interactive-right {
    --width: 3px;
    width: 0; 
    height: 0; 
    background: transparent;
    border: none;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent; 
    
    border-left: 1em solid black;
    position: relative;
}

/* right arrow outline */
button.interactive-right::before {
    content: "";
    position: absolute;

    padding: 0px 6px;

    top: 20%;
    left: calc(20% - var(--width)/2);
    transform: translate(-60%, -43%);
    
    border-top: calc(.5em - var(--width)) solid transparent;
    border-bottom: calc(.5em - var(--width)) solid transparent; 
    
    border-left: calc(1em - var(--width)) solid white;
    background: transparent;
    border-radius: inherit;
}

button.interactive-right::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 1em;
    top: 50%; 
    left: -100%;
    transform: translate(-50%, -50%);
    background: black;
}


#movement-buttons {
    z-index: 2000;
    bottom: 5vh;
    position: fixed;
    user-select: none;
}

#movement-buttons > button {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(0 0 0 / 15%);
    border-color: rgb(0 0 0 / 25%)
}

#movement-buttons > button:active {
    background-color: rgb(0 0 0 / 20%);
    border-color: rgb(0 0 0 / 32%)
}

#movement-buttons > button:not(:first-child) {
    margin-left: 2px;
}

#movement-buttons > button > object {
    width: 100%;
    height: 100%;
}

#movement-buttons > button {
    position: relative;
}

